<h2>User Details</h2>

<div class="card card-header results-block">
  <table class="col-md-12">
    <tbody>

        <tr>
          <td><strong>Name: </strong><%= @user.full_name %></td>
          <td><strong>E-mail: </strong><%= @user.email %></td>
          <td>
            <% if current_user.not_friends_with?(@user) %>
              <%= link_to "Follow", friendships_path(friend: @user), class: 'btn btn-sm btn-outline-success ml-3', method: :post%>
            <% else %>
              <span class='badge badge-warning'> You are friends</span>
            <%  end %>
          </td>
        </tr>

    </tbody>
  </table>
</div>

<%if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% else %>
  <p class="lead">
    This User is not tracking any stocks.
  </p>
<% end %>