<h1>Welcome to the Finance Tracker App</h1>

<p class="text-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, perferendis dicta. Suscipit facere provident optio sint quidem veritatis neque, similique molestiae sapiente doloribus, at distinctio quia necessitatibus temporibus reiciendis amet?</p>

<%= link_to "Signout", destroy_user_session_path, method: :delete%>